.buttons {
    width: 100%;
    margin-top: 10px;
}

#toggler {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    text-decoration: none;
}

#headingOne {
    height: 50px;
}

.load {
    position: relative;
    width: 85vw;
    border-radius: 25px;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%)
}

.load:hover {
    background-color: #f1f8ff;
}

img {
    opacity: 1;
    height: 200px;
}

img:hover {
    opacity: .5
}

.rating {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -30px;
}

.css-image {
    margin: 0 5px 30px;
}

.js-gif-click {
    position: relative;
    /* justify-content: center; */
}

.result {
    margin: 10px 0;
}

.input-group {
    width: 75%;
    left: 12.5%;
}