.buttons {
    width: 100%;
}

.result {
    /* height: 75vh; */
    /* overflow: scroll; */
}

.load {
    width: 100%;
    border-style: solid 2px;
    border-radius: 25px;
    margin-top: -1vh;
}

.load:hover {
    background-color: #f1f8ff;
}

img {
    opacity: 1;
    height: 200px;
}

img:hover {
    opacity: .5
}